#canvas {
  width: 30%;
  
  height: 30%;
  float: left
  }

#reviewApp {
  width: 45%;
  height: auto;
  float: right
}

#youMayLike {
  position: absolute;
  height: 100%;
  top: 1100px;
  left: 50px
}

.container {
  position: relative;
  bottom: 100
}